<section class="advantages">
    <div class="container">
        <h2 class="sr-only">Преимущества</h2>
        <ul class="advantages__items">
            <li class="advantages__item">
                <svg class="advantages__svg" width="50" height="50">
                    <use xlink:href="images/sprite.svg#scooter"></use>
                </svg>
                <p class="advantages__subtitle">Бесплатная доставка</p>
                <p class="advantages__text">Для заказов на сумму от 500 ₴ </p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__svg" width="50" height="50">
                    <use xlink:href="images/sprite.svg#return-box"></use>
                </svg>
                <p class="advantages__subtitle">Возврат товара</p>
                <p class="advantages__text">Если товары были испорчены </p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__svg" width="50" height="50">
                    <use xlink:href="images/sprite.svg#24-hours"></use>
                </svg>
                <p class="advantages__subtitle">Поддержка 24/7</p>
                <p class="advantages__text">Лучшие операторы</p>
            </li>
        </ul>
    </div>
</section>