<section class="banners section">
    <div class="container">
        <h2 class="sr-only">Баннеры с рекламой</h2>
        <div class="banners__items">
            <div class="banners__item banners__item--big">
                <div class="banners__img banners__img--big"
                    style="background-image: url('images/banners/fruits1.jpg')">
                    <div class="banners__content banners__content--big">
                        <span class="banners__subtitle banners__subtitle--big">свежие фрукты</span>
                        <h3 class="banners__title banners__title--big">Начни фруктовое лето
                            всего от 19 ₴ </h3>
                        <a class="banners__link banners__link--big" href="#">перейти к покупкам</a>
                    </div>
                </div>
            </div>
            <div class="banners__item">
                <div class="banners__img" style="background-image: url('images/banners/veg2.jpg')">
                    <div class="banners__content">
                        <span class="banners__subtitle">сезонная распродажа</span>
                        <h3 class="banners__title">Овощепад
                            <span class=" banners__discount">до-50%</span>
                        </h3>
                        <a class="banners__link" href="#">перейти к покупкам</a>
                    </div>
                </div>
            </div>
            <div class="banners__item">
                <div class="banners__img" style="background-image: url('images/banners/bread3.jpg')">
                    <div class="banners__content">
                        <span class="banners__subtitle">ням ням</span>
                        <h3 class="banners__title">Свежий хлебчик
                        </h3>
                        <a class="banners__link" href="#">перейти к покупкам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>