<section class="brands section">
    <div class="container">
        <h2 class="sr-only">Бренды</h2>
        <ul class="brands__list">
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/sprite.svg" alt="Спайт" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/dr-pepper.svg" alt="Доктор Пепер" width="80"
                    height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/coca-cola.svg" alt="Кока-кола" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/pepsi.svg" alt="Пепси" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/redbull.svg" alt="Редбулл" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/fanta.svg" alt="Фанта" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/pepsi.svg" alt="Пепси" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/redbull.svg" alt="Редбулл" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/fanta.svg" alt="Фанта" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/dr-pepper.svg" alt="Доктор Пепер" width="80"
                    height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/coca-cola.svg" alt="Кока-кола" width="80" height="80">
            </li>
            <li class="brands__item">
                <img class="brands__img" src="../../images/brands/pepsi.svg" alt="Пепси" width="80" height="80">
            </li>
        </ul>
    </div>
</section>