  <div class="breadcrumbs">
      <div class="container">
          <ul class="breadcrumbs__items">
              <li class="breadcrumbs__item breadcrumbs__item--home">
                  <a class="breadcrumbs__link" href="/index.html">Главная</a>
              </li>
              <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="/index2.html">Каталог товаров</a>
              </li>
              <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="/index3.html">Питахайя красная с белой мякотью</a>
              </li>
          </ul>
      </div>
  </div>