<section class="hero">
    <h1 class="sr-only">Магазин фрeшок</h1>
    <h2 class="sr-only">Актуальные скидки и предложения</h2>
    <ul class="hero__inner">
        <li class="hero__item" style="background-image: url('images/hero/photo1.jpg')">
            <div class="hero__content">
                <h3 class="hero__title">Свежачок вам в хату
                    <span class="hero__span">Скидка -50%</span>
                </h3>
                <p class="hero__text">
                    Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                </p>
                <a class="hero__order button" href="products.html">Купить сейчас</a>
            </div>
        </li>
        <li class="hero__item"
            style="background-image: url('images/hero/photo2.jpg'); background-position: center bottom 30%;">
            <div class="hero__content">
                <h3 class="hero__title"> Накрути себе томатов
                    <span class="hero__span">Акция: 3 кг по цене 1</span>
                </h3>
                <p class="hero__text">
                    Только с 12 по 15 июля скидка на домашние помидорчики
                </p>
                <a class="hero__order button" href="products.html">Купить сейчас</a>
            </div>
        </li>
        <li class="hero__item" style="background-image: url('images/hero/photo3.jpg')">
            <div class="hero__content">
                <h3 class="hero__title">Пусть остальные
                    <p> позеленеют от зависти</p>
                    <span class="hero__span">Распродажа зелени</span>
                </h3>
                <a class="hero__order button" href="products.html">Купить сейчас</a>
            </div>
        </li>
    </ul>
</section>