<div class="mobile-menu">
    <div class="mobile-menu__wpapper">
        <div class="mobile-menu__nav">
            <div class="mobile-menu__logo">
                <a class="logo" href="index.html">
                    <svg class="logo-img" width="200" height="60">
                        <use xlink:href="images/sprite.svg#logo"></use>
                    </svg>
                </a>
            </div>
            <button class="mobile-menu__close" type="button">
                <svg class="mobile-menu__icon">
                    <use xlink:href="../../images/sprite.svg#close-menu" width="18" height="18"></use>
                </svg>
                <span class="sr-only">Закрыть</span>
            </button>
        </div>
        <div class="mobile-menu__authorization">
            <button class="mobile-menu__button button  mobile-menu__button--private" type="button">
                <svg class="mobile-menu__svg" width="32" height="30">
                    <use xlink:href="images/sprite.svg#private"></use>
                </svg>
                Вход
            </button>
            <button class="mobile-menu__button button" type="button">
                Регистрация
            </button>
        </div>
        <div class="catalog catalog--mobile" id="catalog-dropdown--mobile">
            <button class="catalog__btn catalog__btn--mobile" type="button">
                Каталог продуктов
            </button>
            <ul class="catalog__dropdown catalog__dropdown--mobile">
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Овощи и фрукты</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Бакалея</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Молочные продукты</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Хлеб</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Мясо</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Колбаса</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Рыба</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Алкоголь</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Напитки</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Торты</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Мясо</a>
                </li>
                <li class="catalog__item">
                    <a class="catalog__link" href="products.html">Чай,кофе</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__contacts">
            <ul class="contacts contacts--mobile">
                <li class="contacts__item contacts__item--mobile">
                    <a class="contacts__link contacts__link--mobile contacts__link--mobile--tel link-state"
                        href="tel:+385011123">
                        +38 050 111 22 33
                    </a>
                </li>
                <li class="contacts__item contacts__item--mobile">
                    <a class="contacts__link contacts__link--mobile contacts__link--mobile--loc link-state"
                        href="https://www.google.com/maps/place/%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D0%BE%D0%B6%D1%8C%D0%B5,+%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D0%BE%D0%B6%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+69000/@47.8446854,35.1951559,12z/data=!4m13!1m7!3m6!1s0x40dc5d8adff3c099:0x7e73fb8d492bff9e!2z0YPQuy4g0KjQtdCy0YfQtdC90LrQviwg0JfQsNC_0L7RgNC-0LbRjNC1LCDQl9Cw0L_QvtGA0L7QttGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2OTAwMA!3b1!8m2!3d47.8424028!4d35.1866212!3m4!1s0x40dc5da678b9e235:0x6c7adbe51ac82b36!8m2!3d47.848994!4d35.2402997">
                        Запорожье, ул. Т.Г
                        Шевченко.1
                    </a>
                </li>
            </ul>
            <ul class="social social--mobile">
                <li class="social__item">
                    <a class="social__link" target="_blank" rel="noopener noreferrer" href="#">
                        <svg class="social__svg social__svg--menu" width="32" height="32">
                            <use xlink:href="images/sprite.svg#facebook"></use>
                        </svg>
                        <span class="sr-only">Перейти в фейсбук</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" target="_blank" rel="noopener noreferrer" href="#">
                        <svg class="social__svg social__svg--menu" width="32" height="32">
                            <use xlink:href="images/sprite.svg#youtube"></use>
                        </svg>
                        <span class="sr-only">Перейти в ютуб</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" target="_blank" rel="noopener noreferrer" href="#">
                        <svg class="social__svg social__svg--menu" width="32" height="32">
                            <use xlink:href="images/sprite.svg#telegram"></use>
                        </svg>
                        <span class="sr-only">Перейти в телеграм</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" target="_blank" rel="noopener noreferrer" href="#">
                        <svg class="social__svg social__svg--menu" width="32" height="32">
                            <use xlink:href="images/sprite.svg#instagram"></use>
                        </svg>
                        <span class="sr-only">Перейти в инстаграм</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__content">
            <ul class="mobile-menu__items">

                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="#">Доставка</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="#">О нас</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="#">Контакты</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="news.html">Новости</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="index.html#stock">Акции</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="#">Вакансии</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="#">Отзывы</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link-state" href="#">Публичная оферта</a>
                </li>
            </ul>
        </div>
    </div>
</div>