   <div class="mobile-category">
       <div class="mobile-category__wrapper">
           <span class="sr-only">Фильтр товаров</span>
           <div class="mobile-category__header">
               <button class="mobile-category__close" type="button">
                   <svg class="mobile-menu__icon">
                       <use xlink:href="../../images/sprite.svg#close-menu" width="18" height="18"></use>
                   </svg>
                   <span class="sr-only">Закрыть поиск</span>
               </button>
           </div>

           <div class="mobile-category__inner">
               <div class="mobile-category__filter filter">
                   <div class="filter-box">
                       <div class="filter-category">
                           <button class="filter-category__btn filter__btn" type="button">
                               Категории
                           </button>
                           <ul class="filter-category__items filter__items">
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Овощи и фрукты</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Бакалея</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Молочные продукты</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Хлеб</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Мясо</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Колбаса</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Рыба</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Алкоголь</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Мясо</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Колбаса</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Рыба</a>
                               </li>
                               <li class="filter-category__item">
                                   <a class="filter-category__link" href="">Алкоголь</a>
                               </li>
                           </ul>
                       </div>
                   </div>

                   <div class="filter-box">
                       <div class="filter-offers">
                           <button class="filter-offers__btn filter__btn" type="button">
                               Предложения
                           </button>

                           <ul class="filter-offers__items filter__items">
                               <li class="filter-offers__item">
                                   <label class="filter-offers__checkbox">
                                       <input class="filter-offers__input" type="checkbox" name="checkbox"
                                           id="checkbox1" placeholder="#" required>
                                       <span class="filter-offers__text">Со скидкой</span>
                                   </label>
                               </li>
                               <li class="filter-offers__item">
                                   <label class="filter-offers__checkbox">
                                       <input class="filter-offers__input" type="checkbox" name="checkbox"
                                           id="checkbox2" placeholder="#" required>
                                       <span class="filter-offers__text">Новинка</span>
                                   </label>
                               </li>
                               <li class="filter-offers__item">
                                   <label class="filter-offers__checkbox">
                                       <input class="filter-offers__input" type="checkbox" name="checkbox"
                                           id="checkbox3" placeholder="#" required>
                                       <span class="filter-offers__text">Хит</span>
                                   </label>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <div class="filter-box">
                       <div class="filter-brands">
                           <button class="filter-brands__btn filter__btn" type="button">
                               Бренд
                           </button>
                           <ul class="filter-brands__items filter__items">
                               <li class="filter-brands__item">
                                   <label class="filter-brands__checkbox">
                                       <input class="filter-brands__input" type="checkbox" name="checkbox"
                                           id="checkbox4" placeholder="#" required>
                                       <span class="filter-brands__text">CocaCola</span>
                                   </label>
                               </li>
                               <li class="filter-brands__item">
                                   <label class="filter-brands__checkbox">
                                       <input class="filter-brands__input" type="checkbox" name="checkbox"
                                           id="checkbox4" placeholder="#" required>
                                       <span class="filter-brands__text">Pepsi</span>
                                   </label>
                               </li>
                               <li class="filter-brands__item">
                                   <label class="filter-brands__checkbox">
                                       <input class="filter-brands__input" type="checkbox" name="checkbox"
                                           id="checkbox4" placeholder="#" required>
                                       <span class="filter-brands__text">Sprite</span>
                                   </label>
                               </li>
                               <li class="filter-brands__item">
                                   <label class="filter-brands__checkbox">
                                       <input class="filter-brands__input" type="checkbox" name="checkbox"
                                           id="checkbox4" placeholder="#" required>
                                       <span class="filter-brands__text">Fanta</span>
                                   </label>
                               </li>
                               <li class="filter-brands__item">
                                   <label class="filter-brands__checkbox">
                                       <input class="filter-brands__input" type="checkbox" name="checkbox"
                                           id="checkbox4" placeholder="#" required>
                                       <span class="filter-brands__text">RedBull</span>
                                   </label>
                               </li>
                               <li class="filter-brands__item">
                                   <label class="filter-brands__checkbox">
                                       <input class="filter-brands__input" type="checkbox" name="checkbox"
                                           id="checkbox4" placeholder="#" required>
                                       <span class="filter-brands__text">Dr Pepper</span>
                                   </label>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <div class="filter-box">
                       <div class="filter-price">
                           <button class="filter-price__btn filter__btn" type="button">
                               Цена
                           </button>
                           <div class="filter-price__items filter__items">
                               <div class="filter-price__block">
                                   <div class="filter-price__item">
                                       <span class="filter-price__text">от</span>
                                       <input class="filter-price__number filter-price__number-form" type="number"
                                           value="0" />
                                       <span class="filter-price__currency currency">₽</span>
                                   </div>
                                   <div class="filter-price__item">

                                       <span class="filter-price__text">до</span>

                                       <input class="filter-price__number filter-price__number-to" type="number"
                                           value="0" />
                                       <span class=" filter-price__currency currency">₽</span>
                                   </div>
                               </div>
                               <div class="filter-price__scale">
                                   <input class="filter-price__input" type="number" data-min="100" data-max="1000"
                                       data-form="200" data-to="800">
                                   <label for="priсe" aria-label="Выбор суммы"></label>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>