<section class="news section">
    <div class="container">
        <div class="news__top">
            <h2 class="news__title title">Наши новости</h2>
            <a class="news__link link-custom" target="_blank" href="#">все новости</a>
        </div>
        <div class="news__inner">
            <ul class="news__list">
                <li class="news__item">
                    <article class="news-card">
                        <img class="news-card__img" src="../../images/news/news1.jpg" width="410" height="240"
                            alt="Клубника">
                        <a class="news-card__link" href="">
                            <h3 class="news-card__subtitle">
                                Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока
                                всё не разобрали!
                            </h3>
                        </a>
                        <div class="news-card__badge">
                            <time datetime="2022-07-15">
                                <span class="news-card__badge--month">июль</span>
                                <span class=" news-card__badge--date">15</span>
                            </time>
                        </div>
                    </article>
                </li>
                <li class="news__item">
                    <article class="news-card">
                        <img class="news-card__img" src="../../images/news/news2.jpg" width="410" height="240"
                            alt="Манго">
                        <a class="news-card__link" href="">
                            <h3 class="news-card__subtitle">
                                Шикарнейший выбор манго в нашем онлайн-маркете
                            </h3>
                        </a>
                        <div class="news-card__badge">
                            <time datetime="2022-02-20">
                                <span class="news-card__badge--month">май</span>
                                <span class="news-card__badge--date">07</span>
                            </time>
                        </div>
                    </article>
                </li>
                <li class="news__item">
                    <article class="news-card">
                        <img class="news-card__img" src="../../images/news/news3.jpg" width="410" height="240"
                            alt="Папайя">
                        <a class="news-card__link" href="">
                            <h3 class="news-card__subtitle">
                                Всё, что вы хотели знать о папайя
                            </h3>
                        </a>
                        <div class="news-card__badge">
                            <time datetime="2022-02-20">
                                <span class="news-card__badge--month">февраль</span>
                                <span class="news-card__badge--date">20</span>
                            </time>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>