<section class="product-details">
    <div class="container">
        <div class="product-details__info">
            <div class="product-details__image swiper">

                <ul class="product-details__image-list swiper-wrapper">

                    <li class="product-details__image-item swiper-slide">
                        <a class="product-details__img-link"
                            href="../../images/product-details/fruit_dragonfruit_big.jpg">
                            <img class="product-details__img"
                                src="../../images/product-details/fruit_dragonfruit_big.jpg" alt="" width="420"
                                height="420">
                        </a>
                    </li>
                    <li class="product-details__image-item swiper-slide">
                        <a class="product-details__img-link"
                            href="../../images/product-details/fruit_dragonfruit_big.jpg">
                            <img class="product-details__img"
                                src="../../images/product-details/fruit_dragonfruit_big.jpg" alt="" width="420"
                                height="420">
                        </a>
                    </li>
                    <li class="product-details__image-item swiper-slide">
                        <a class="product-details__img-link"
                            href="../../images/product-details/fruit_dragonfruit_big.jpg">
                            <img class="product-details__img"
                                src="../../images/product-details/fruit_dragonfruit_big.jpg" alt="" width="420"
                                height="420">
                        </a>
                    </li>
                </ul>



                <div class="product-details__nav  slider-nav">
                    <button class="product-details__nav--prev slider-nav__btn" type="button">
                        <svg class="slider-nav__icon" width="19" height="32">
                            <use xlink:href="../../images/sprite.svg#icon-arrow-left"></use>
                        </svg>
                        <span class="sr-only">Предыдущий слайд</span>
                    </button>
                    <button class="product-details__nav--next slider-nav__btn" type="button">
                        <svg class="slider-nav__icon" width="19" height="32">
                            <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                        <span class="sr-only">Следующий слайд</span>
                    </button>
                </div>
            </div>
            <h2 class="product-details__title">Питахайя красная с белой мякотью</h2>
            <div class="product-details__descr">
                <div class="product-card__badge product-card__badge--large">
                    <span
                        class="product-card__badge-item product-card__badge-item--large  product-card__badge-item--hit">Хит</span>
                </div>
                <div class="product-details__additional">
                    <span class="product-details__id">
                        Код:
                        <span class="product-details__id-num">
                            0111111
                        </span>
                    </span>
                    <div class="product-card__rating product-card__rating--large">
                        <span class="star multiple-star" data-rateyo-rating="4"></span>
                        <span class="sr-only">Добавить рейтинг</span>
                    </div>
                    <span class="product-card__status product-card__status--large">в наличии</span>
                </div>
                <div class="product-card__box product-card__box--large">
                    <div class="product-card__price product-card__price--large">
                        <span class="product-card__price-item product-card__price-item--old 
                            product-card__price-item--old--large">199<span
                                class="product-card__currency product-card__currency--large">₴</span></span>
                        <span class="product-card__price-item product-card__price-item--large">101<span
                                class="product-card__currency product-card__currency--large">₴</span></span>
                    </div>
                </div>
                <div class="product-details__trade">
                    <div class="counter counter--large">
                        <button
                            class="counter__action-btn counter__action-btn--substractquantity counter__action-btn--substractquantity--large"
                            type="button">
                            <span class="sr-only">Убавить количество товара</span>
                        </button>
                        <input class="counter__input counter__input--large" type="number" value="1" min="0" max="99">
                        <button
                            class="counter__action-btn counter__action-btn--addquantity counter__action-btn--addquantity--large"
                            type="button">
                            <span class="sr-only">Добавить количество товара</span>
                        </button>
                    </div>
                    <button class="product-details__button button" type="button">
                        <svg class="product-details__icon" width=" 24" height="24">
                            <use xlink:href="../../images/sprite.svg#cart-btn"></use>
                        </svg>
                        <span class="product-details__btn-text">Добавить в корзину</span>
                    </button>
                    <button class="favorites-btn favorites-btn--large" type="button">
                        <svg class="favorites-btn__svg favorites-btn__svg--large" width="44" height="39">
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                        <span class="sr-only">Добавить в избранное</span>
                    </button>
                </div>
                <div class="product-details__delivery">
                    <h3 class="product-details__delivery-title">
                        Доставка и оплата
                    </h3>
                    <ul class="product-details__delivery-list">
                        <li class="product-details__delivery-item">
                            <span class="product-details__delivery-text">
                                Минимальная сумма заказа - 100 грн.
                            </span>
                        </li>
                        <li class="product-details__delivery-item">
                            <span class="product-details__delivery-text">
                                Время доставки заказа - 60-120 мин.
                            </span>
                        </li>
                        <li class="product-details__delivery-item">
                            <span class="product-details__delivery-text">
                                Оплата осуществляется только банковской картой.
                            </span>
                        </li>
                        <li class="product-details__delivery-item">
                            <span class="product-details__delivery-text">
                                Окончательная сумма заказа формируется после сбора товаров.
                            </span>
                        </li>
                    </ul>
                    <a class="product-details__delivery-link link-custom" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
</section>