<section class="product-tabs">
    <div class="container">
        <h2 class="sr-only">Информация о товаре</h2>
        <ul class="product-tabs__list">
            <li class="product-tabs__item">
                <a class="product-tabs__link product-tabs__link--active" href="#tab-1">описание</a>
            </li>
            <li class="product-tabs__item">
                <a class="product-tabs__link" href="#tab-2">характеристики</a>
            </li>
            <li class="product-tabs__item">
                <a class="product-tabs__link" href="#tab-3">Отзывы (2)</a>
            </li>
        </ul>
        <ul class="product-tabs__content-list">
            <li class="product-tabs__content-item product-tabs__content-item--active" id="tab-1">
                <p>Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует
                    укреплению
                    иммунной системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает
                    противовоспалительное действие, так как фрукт богат антиоксидантами. При употреблении питахайи,
                    понижается
                    уровень сахара в крови, улучшается зрение и работа сердечно–сосудистой системы. Так как фрукт
                    низкокалорийный и состоит на 90% из воды, способствует снижению веса.</p>
                <p>Витамины: С, Е, РР, витамины группы В</p>
                <p>Микроэлементы: железо, калий, кальций, магний, фосфор</p>
                <p>Внешний вид товара может отличаться от изображений, представленных на сайте.</p>
            </li>

            <li class="product-tabs__content-item" id="tab-2">
                <ul class="product-tabs__characteristics-list">
                    <li class="product-tabs__characteristics-item">
                        <span class="product-tabs__characteristics-title">
                            Вес:
                            <span class="product-tabs__characteristics-text">250-350 г</span>
                        </span>
                    </li>
                    <li class="product-tabs__characteristics-item">
                        <span class="product-tabs__characteristics-title">
                            Калорийность (на 100г):
                            <span class="product-tabs__characteristics-text">50 ккал</span>
                        </span>
                    </li>
                    <li class="product-tabs__characteristics-item">
                        <span class="product-tabs__characteristics-title">
                            Условия хранения:
                            <span class="product-tabs__characteristics-text">температура от +3 до +8</span>
                        </span>
                    </li>
                    <li class="product-tabs__characteristics-item">
                        <span class="product-tabs__characteristics-title">
                            Другие названия:
                            <span class="product-tabs__characteristics-text"> Драконов фрукт, Глаз дракона</span>
                        </span>
                    </li>
                    <li class="product-tabs__characteristics-item">
                        <span class="product-tabs__characteristics-title">
                            Страна происхождения:
                            <span class="product-tabs__characteristics-text"> Вьетнам</span>
                        </span>
                    </li>
                    <li class="product-tabs__characteristics-item">
                        <span class="product-tabs__characteristics-title">
                            Срок хранения:
                            <span class="product-tabs__characteristics-text"> до 5 дней</span>
                        </span>
                    </li>
                </ul>
            </li>

            <li class="product-tabs__content-item" id="tab-3">
                <h3 class="product-tabs__comments-title">
                    мнение наших клиентов
                </h3>
                <ul class="product-tabs__comments-list">
                    <li class="product-tabs__comments-item">
                        <div class="product-tabs__comments-top">
                            <img class="product-tabs__comments-img" src="../../images/product-tabs/placeholder.jpg"
                                alt="Фото автора комментария">
                            <div class="product-tabs__comments-info">
                                <span class="product-tabs__comments-author">
                                    Андрей
                                </span>
                                <span class="product-tabs__comments-date">
                                    10.06.2021
                                </span>
                            </div>
                            <span class="rating product-tabs__rating">
                                <span class="multiple-star" data-rateyo-rating="4.0"></span>
                            </span>
                        </div>
                        <p class="product-tabs__comments-text">
                            Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                        </p>
                    </li>
                    <li class="product-tabs__comments-item">
                        <div class="product-tabs__comments-top">
                            <img class="product-tabs__comments-img" src="../../images/product-tabs/placeholder.jpg"
                                alt="Фото автора комментария">
                            <div class="product-tabs__comments-info">
                                <span class="product-tabs__comments-author">
                                    Екатерина Белая
                                </span>
                                <span class="product-tabs__comments-date">
                                    7.06.2021
                                </span>
                            </div>
                            <span class="rating product-tabs__rating">
                                <span class="multiple-star" data-rateyo-rating="5.0"></span>
                            </span>
                        </div>
                        <p class="product-tabs__comments-text">
                            Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв),
                            но
                            нет.
                            Вкус "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая возможность - пробовать
                            экзотические фрукты.
                        </p>
                    </li>
                    <li class="product-tabs__feedback">
                        <h3 class="product-tabs__feedback-title">
                            оставить отзыв
                        </h3>

                        <form class="form product-tabs__form">
                            <span class="form__label form__label--rating">
                                Ваша оценка *
                                <span class="empty-star"></span>
                            </span>

                            <div class="form__message">
                                <label class="form__label form__label--textarea" for="message">
                                    Ваш отзыв *
                                    <textarea class="form__textarea" name="message" id="message"
                                        placeholder="Введите текст отзыва" required></textarea>
                                </label>
                                <div class="form__contacts">
                                    <label for="ninput" class="form__label form__label--contacts">
                                        Имя
                                        <input class="form__input" name="p_name" type="text" id="ninput"
                                            placeholder="Введите ваше имя">
                                    </label>
                                    <label for="email" class="form__label form__label--contacts">
                                        Email *
                                        <input class="form__input" name="p_email" type="text" id="email"
                                            placeholder="youremail@mail.com" required>
                                    </label>
                                </div>
                            </div>
                            <div class="product-tabs__review">
                                <label class="product-tabs__review-checkbox">
                                    <input class="product-tabs__review-input" type="checkbox" type="checkbox"
                                        name="checkbox" id="checkbox9">
                                    <span class="product-tabs__review-text">Сохранить моё имя,email и адрес сайта в этом
                                        браузере для последующих моих
                                        комментариев.</span>
                                </label>
                            </div>
                        </form>
                        <button class="product-tabs__button button">Оставить отзыв</button>
                </ul>
            </li>
        </ul>
    </div>
</section>