<section class="product-suggestions">
    <div class="container">
        <div class="product-suggestions__top">
            <h2 class="product-suggestions__title">вас может заинтересовать</h2>
            <div class="product-suggestions__nav slider-nav">
                <button class="product-suggestions__nav-btn product-suggestions__nav-btn--prev slider-nav__btn"
                    type="button">
                    <svg class="slider-nav__icon" width="19" height="32">
                        <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
                    </svg>
                    <span class="sr-only">Предыдущий слайд</span>
                </button>
                <button class="product-suggestions__nav-btn product-suggestions__nav-btn--next slider-nav__btn"
                    type="button">
                    <svg class="slider-nav__icon" width="19" height="32">
                        <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                    <span class="sr-only">Следующий слайд</span>
                </button>
            </div>
        </div>
        <div class="product-suggestions__content swiper">
            <ul class="product-suggestions__list swiper-wrapper">
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-suggestions__product-card product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--hit">хит</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/carrot.jpg" width="300"
                                    height="226" alt="Морковь с листьями">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class="product-card__status product-card__status--not"> нет в наличии</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">4.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Морковь молодая с
                                бабушкиной грядки, 1кг</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item">19
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--30">-30%</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/juice.jpg" width="300"
                                    height="226" alt="Напиток красный апельсин">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class="product-card__status">в наличии</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">4.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Напиток сокосодержащий
                                Sanpellegrino Aranciata Orange
                                Красный апельсин безалкогольный</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item product-card__price-item--old">49
                                            <span class="product-card__currency">₴</span></span>
                                        <span class="product-card__price-item">29
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/coffee.jpg" width="300"
                                    height="226" alt="Кофе в мягкой упаковке">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class=" product-card__status product-card__status--ends">заканчивается</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">4.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Кофе с коноплей
                                органический Caffé Salomoni 250г</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item">219
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/coffee.jpg" width="300"
                                    height="226" alt="Кофе в мягкой упаковке">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class=" product-card__status product-card__status--ends">заканчивается</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">4.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Кофе с коноплей
                                органический Caffé Salomoni 250г</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item">219
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                                <span class="product-card__badge-item product-card__badge-item--50">-50%</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/pineapple.jpg" width="300"
                                    height="226" alt="Ананас целый">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class="product-card__status">в наличии</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">3.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Ананас, 1 кг</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item product-card__price-item--old">199
                                            <span class="product-card__currency">₴</span></span>
                                        <span class="product-card__price-item">99
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--hit">хит</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/carrot.jpg" width="300"
                                    height="226" alt="Морковь с листьями">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class="product-card__status product-card__status--not"> нет в наличии</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">4.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Морковь молодая с
                                бабушкиной грядки, 1кг</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item">19
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--30">-30%</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/juice.jpg" width="300"
                                    height="226" alt="Напиток красный апельсин">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class="product-card__status">в наличии</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">4.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Напиток сокосодержащий
                                Sanpellegrino Aranciata Orange
                                Красный апельсин безалкогольный</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item product-card__price-item--old">49
                                            <span class="product-card__currency">₴</span></span>
                                        <span class="product-card__price-item">29
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="product-suggestions__item swiper-slide">
                    <article class="product-card">
                        <div class="product-card__header">
                            <div class="product-card__badge">
                                <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                            </div>
                            <button class="favorites-btn" type="button">
                                <svg class="favorites-btn__svg" width="32" height="29">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="sr-only">Добавить в избранное</span>
                            </button>
                        </div>
                        <div class="product-card__image">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/product-card/coffee.jpg" width="300"
                                    height="226" alt="Кофе в мягкой упаковке">
                                <svg class="product-card__watch" width="20" height="20">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="sr-only">Перейти на страницу товара</span>
                            </a>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__info product-card__info--suggestions">
                                <span class=" product-card__status product-card__status--ends">заканчивается</span>
                                <div class="product-card__rating">
                                    <span class="product-card__rating product-card__rating--num">4.5</span>
                                    <span class="star one-star" data-rateyo-rating="4.5"></span>
                                    <span class="sr-only">Добавить рейтинг</span>
                                </div>
                            </div>
                            <h3 class="product-card__title product-card__title--suggestions">Кофе с коноплей
                                органический Caffé Salomoni 250г</h3>
                            <div class="product-card__bottom">
                                <div class="product-card__box">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item">219
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                </div>
                                <div class="counter counter--mobile">
                                    <button class="counter__action-btn counter__action-btn--substractquantity"
                                        type="button">
                                        <span class="sr-only">Убавить количество товара</span>
                                    </button>
                                    <input class="counter__input" type="number" value="1" min="0" max="99">
                                    <button class="counter__action-btn counter__action-btn--addquantity" type="button">
                                        <span class="sr-only">Добавить количество товара</span>
                                    </button>
                                </div>
                                <button class="card-btn" type="button"></button>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <div class="product-suggestions__pagination swiper-pagination"></div>
    </div>
</section>