<section class="stock section" id="stock">
    <div class="container" data-ref="stock_filter">
        <h2 class="stock__title title">Акции</h2>
        <ul class="stock__filter-mixitup filter-mixitup controls">
            <li class="filter-mixitup__item">
                <button class="filter-mixitup__button mixitup-control-active control" data-filter="all"
                    type="button">все
                    товары</button>
            </li>
            <li class="filter-mixitup__item">
                <button class="filter-mixitup__button control" data-filter=".novelties" type="button">Новинки</button>
            </li>
            <li class="filter-mixitup__item">
                <button class="filter-mixitup__button" control data-filter=".hits" type="button">Хиты</button>
            </li>
        </ul>
        <ul class="stock__inner targets">
            <li class="stock__card mix novelties">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/pineapple.jpg" alt="Ананасы">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class="product-card__title product-card__title--horizontal">Ананас,1кг</h3>
                        <span class="product-card__status">в наличии</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">99<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <span
                                        class="product-card__price-item product-card__price-item--old--horizontal">199<span
                                            class="product-card__currency">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">4.5</span>
                                        <span class="star one-star" data-rateyo-rating="4.5"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="stock__card mix novelties">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/coffee.jpg" alt="Кофе с коноплей">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class=" product-card__title product-card__title--horizontal">Кофе с коноплей органический
                            Caffé Salomoni 250г
                        </h3>
                        <span class="product-card__status product-card__status--ends">заканчивается</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">219<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">4.9</span>
                                        <span class="star one-star" data-rateyo-rating="4.9"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="stock__card mix novelties">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/strawberry.jpg" alt="Клубника">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class="product-card__title product-card__title--horizontal">Клубника,1кг</h3>
                        <span class="product-card__status product-card__status--not"> нет в наличии</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">64<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <span
                                        class="product-card__price-item product-card__price-item--old--horizontal">80<span
                                            class="product-card__currency">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">5.0</span>
                                        <span class="star one-star" data-rateyo-rating="5.0"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="stock__card mix novelties">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/mango.jpg" alt="Манго">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class="product-card__title product-card__title--horizontal">Манго,1кг</h3>
                        <span class="product-card__status">в наличии</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">166<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <span
                                        class="product-card__price-item product-card__price-item--old--horizontal">199<span
                                            class="product-card__currency">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">5.0</span>
                                        <span class="star one-star" data-rateyo-rating="5.0"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="stock__card mix novelties">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--news">новинка</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/salmon.jpg" alt="Лосось">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class="product-card__title product-card__title--horizontal">Лосось,1кг</h3>
                        <span class="product-card__status">в наличии</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">699<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <span
                                        class="product-card__price-item product-card__price-item--old--horizontal">999<span
                                            class="product-card__currency">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">4.5</span>
                                        <span class="star one-star" data-rateyo-rating="4.5"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="stock__card mix hits">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--hit">хит</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/veg_juice.jpg" alt="Бутылочка сока">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class="product-card__title product-card__title--horizontal">Сок Granini овощной 100%, 0.5л
                        </h3>
                        <span class=" product-card__status product-card__status--ends">заканчивается</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">88<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <span
                                        class="product-card__price-item product-card__price-item--old--horizontal">110<span
                                            class="product-card__currency">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">4.9</span>
                                        <span class="star one-star" data-rateyo-rating="4.9"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="stock__card mix hits">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--hit">хит</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/basket.jpg" alt="Корзина с фруктами">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class="product-card__title product-card__title--horizontal">Фруктовая корзина,1 шт
                        </h3>
                        <span class=" product-card__status">в наличии</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">88<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <span
                                        class="product-card__price-item product-card__price-item--old--horizontal">110<span
                                            class="product-card__currency">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">4.8</span>
                                        <span class="star one-star" data-rateyo-rating="4.8"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="stock__card mix hits">
                <article class="product-card product-card--horizontal">
                    <div class="product-card__badge">
                        <span class="product-card__badge-item product-card__badge-item--hit">хит</span>
                    </div>
                    <a class="product-card__link product-card__link--horizontal" href="index3.html">
                        <div class="product-card__img-wrapper">
                            <img class="product-card__img product-card__img--horizontal"
                                src="images/product-card/photo.jpg" alt="Свинина мякоть">
                        </div>
                        <svg class="product-card__watch product-card__watch--horizontal">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="product-card__content product-card__content--horizontal">
                        <h3 class="product-card__title product-card__title--horizontal">Свинина мякоть, 1 кг</h3>
                        <span class=" product-card__status">в наличии</span>
                        <div class="product-card__bottom product-card__bottom--horizontal">
                            <div class="product-card__box product-card__box--horizontal">
                                <div class="product-card__price product-card__price--horizontal">
                                    <span class="product-card__price-item product-card__price-item--horizontal">119<span
                                            class="product-card__currency product-card__currency--view">₴</span></span>
                                    <span
                                        class="product-card__price-item product-card__price-item--old--horizontal">150<span
                                            class="product-card__currency">₴</span></span>
                                    <div class="product-card__rating">
                                        <span class="product-card__rating product-card__rating--num">4.6</span>

                                        <span class="star one-star" data-rateyo-rating="4.6"></span>
                                        <span class="sr-only">Добавить рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
        <a class="stock__link button" href="index2.html">Показать еще</a>
    </div>
</section>